<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Info Streaming</title>
  <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="../public/css/style.css">


</head>

<body>
<div id="wrap">
  <br><br>
  <div class="container">
    <div id="box">
      <div class="text-center">
        <h1>Info Streaming soon</h1>
        <div class="col-md-12 text-center pull-middle">
          <form role="form" method="get" action="">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> E-Mail</span>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your E-Mail to get exclusive access!">
                <span class="input-group-btn">
<button type="submit" class="btn btn-primary">Subscribe</button>
</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




</div>



<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>


</body>
</html>
